{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Crear Cita</h1>
      <div class="card mb-4">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_cliente_nombre">Nombre del Cliente:</label>
              {{ form.cliente_nombre }}
            </div>
            <div class="form-group">
              <label for="id_tipo_servicio">Tipo de Servicio:</label>
              {{ form.tipo_servicio }}
            </div>
            <div class="form-group">
              <label for="id_fecha">Fecha:</label>
              {{ form.fecha }}
            </div>
            <div class="form-group">
              <label for="id_hora">Hora:</label>
              {{ form.hora }}
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Crear Cita</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}