{% extends 'core/base.html' %}

{% block content %}
<h1>Inventario</h1>

<div class="container">
    {% if cargo == "Jefe" %}
        <h2>Agregar Nuevo Elemento</h2>
        <form method="post" action="{% url 'agregar_inventario' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="precio_unitario">Precio Unitario:</label>
                <input type="number" step="0.01" id="precio_unitario" name="precio_unitario" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    {% endif %}
</div>

<h2>Lista del Inventario</h2>
<div class="container">
    {% if inventario %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventario %}
                    <tr>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        <td>{{ item.3 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay elementos en el inventario para mostrar.</p>
    {% endif %}
</div>
{% endblock %}